

<main class="container">
    <div class="row justify-content-around mt-5">
        <h1>The Deck of Sixty</h1>
        <h2>Discover your fate!</h2>
        <p>This app is intended to allow users to generate tarot spreads based on a deck called 'The Deck of Sixty' that exists within the MMORPG game Final Fantasy XIV.</p>

        <p>Use it for roleplay! Or just use it just for fun!</p>
    </div>

    <div>
        <h3>Select your spread:</h3>
        <button a href="../three-card">3 Card Spread</button>
        <button>Type 2</button>
        <button>Type 3</button>
        <button>Type 4</button>
    </div>
</main>
    

